/* 
  default
*/
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: beige;
}
.wrap {
  overflow: hidden !important;
}
#map {
  width: 100vw;
  height: 100vh;
}
/* 로딩창 */
.wrap .loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999999;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 49vw;
  padding-top: 44vh;
}
/* 재고없음 표시안함 아이콘 활성화 css */
.activeShowIcon {
  background-color: transparent;
  color: rgba(78, 83, 242, 1);
}
/* 위치정보로 불러온 위치 마커 css */
#myLoaction {
  color: rgba(78, 83, 242, 1);
  font-size: 56px;
  z-index: 9999;
  opacity: 0.99;
  position: absolute;
}
/* 검색으로 보여주는 위치 마커 css */
#searchLoaction {
  color: rgba(78, 83, 242, 1);
  font-size: 56px;
  z-index: 9999;
  opacity: 0.99;
  position: absolute;
}
/* sidebar fade action */
.sidefade-enter,
.sidefade-leave-to {
  opacity: 0;
  width: 0;
}
.sidefade-enter-active {
  transition: all 0.2s;
}
.sidefade-leave-active {
  transition: all 0.2s;
}

/* 
  지도에 보여지는 아이콘 부분
*/
.wrap .map-top {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  margin-top: 8px;
}
.wrap .map-top-right {
  display: flex;
  margin-left: auto;
}
.wrap .map-top-left {
  display: flex;
}
.locateNow,
.showIcon,
.refreshIcon,
.sidebarHide {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: rgba(78, 83, 242, 1);
  padding: 10px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 24px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
}
.locateNow:hover,
.showIcon:hover,
.sidebarHide:hover,
.refreshIcon:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

/* 
  사이드 바 부분
*/
.sidebar {
  width: 340px;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 4;
  background-color: rgba(78, 83, 242, 0.9);
}
.sidebar .menu {
  width: 100%;
  color: #fff;
}
/* 타이틀 */
.sidebar .menu .title {
  margin-top: 35px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 550;
}
/* 사이드 바 닫기 */
.sidebar .menu .close {
  cursor: pointer;
  width: 10%;
  font-size: 24px;
  margin-left: auto;
  margin-top: 10px;
}
.sidebar .menu .close:hover {
  transform: scale(1.1);
}
/* 사이드바 메뉴 */
.sidebar .menuList {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.sidebar .menuList .listItem {
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
  justify-self: center;
  cursor: pointer;
}
.sidebar .menuList .listItem:hover {
  font-size: 18px;
  font-weight: 550;
  transition: all 0.2s;
}
/* search 컴포넌트 div css */
.sidebar .menu .inputForm {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* 
  footer 
*/
.sidebar .footer {
  margin-top: 20px;
}
.sidebar .footer .introduce {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 550;
  text-align: left;
  padding-left: 35px;
}

/* 
  state color
*/
#plenty {
  font-size: 12px;
  width: 60px;
  height: 15px;
  text-align: center;
  border: 0;
  background-color: #28a745;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
#some {
  font-size: 12px;
  width: 60px;
  height: 15px;
  text-align: center;
  border: 0;
  background-color: #ffc107;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
#few {
  font-size: 12px;
  width: 60px;
  height: 15px;
  text-align: center;
  border: 0;
  background-color: #dc3545;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
#empty,
#null,
#undefine {
  font-size: 12px;
  width: 60px;
  height: 15px;
  text-align: center;
  border: 0;
  background-color: #6c757d;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
#break {
  font-size: 12px;
  width: 60px;
  height: 15px;
  text-align: center;
  border: 0;
  background-color: #000;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}

#plenty .info .detail,
#some .info .detail,
#few .info .detail,
#empty .info .detail,
#null .info .detail,
#undefined .info .detail,
#break .info .detail {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
  z-index: 9999;
}
#plenty .info .detail .detail-item,
#some .info .detail .detail-item,
#few .info .detail .detail-item,
#empty .info .detail .detail-item,
#null .info .detail .detail-item,
#undefined .info .detail .detail-item,
#break .info .detail .detail-item {
  padding: 2px;
}

#plenty:hover .info .detail,
#some:hover .info .detail,
#few:hover .info .detail,
#empty:hover .info .detail,
#null:hover .info .detail,
#undefiend:hover .info .detail,
#break:hover .info .detail {
  visibility: visible;
  z-index: 9999;
}

/* 
  모바일 뷰
*/
@media screen and (max-width: 414px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
  }
}
