hr {
  border: 2px solid;
}
.list-wrap {
  margin-top: 10px;
  width: 265px;
  box-sizing: border-box;
  display: flex;
}
.list-wrap .list {
  width: 100%;
  box-sizing: border-box;
}

/* 
  검색 결과 부분
*/

.list-wrap .list .list-title {
  display: flex;
  flex-direction: row;
}
.list-wrap .list .list-title #title {
  font-size: 18px;
  font-weight: 550;
}
.list-wrap .list .list-title #sub {
  font-size: 12px;
  align-self: flex-end;
}

/* 
  검색 결과 부분
*/
.list-wrap .list .outputList {
  width: 100%;
  height: 360px;
  padding-top: 8px;
  overflow-y: auto;
}

/* 검색 결과 스크롤 커스텀 */
.list-wrap .list .outputList::-webkit-scrollbar {
  width: 8px;
}
.list-wrap .list .outputList::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
.list-wrap .list .outputList::-webkit-scrollbar-track {
  background-color: none;
}

/* 검색 결과 items 공통 css */
.list-wrap .list .outputList .items .items-wrap {
  border: 3px solid;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 18px;
  cursor: pointer;
}
.list-wrap .list .outputList .items .items-wrap:hover {
  transition: all 0.2s;
  border: 3px solid;
}
.list-wrap .list .outputList .items .items-wrap .items-title #count {
  font-size: 14px;
  color: #fff !important;
}

/* 검색 결과 별 border */
.list-wrap .list .outputList .items .few {
  border: 3px solid #dc3545;
}
.list-wrap .list .outputList .items .few .items-title {
  font-size: 16px;
  font-weight: 550;
  padding-bottom: 10px;
}
.list-wrap .list .outputList .items .some {
  border: 3px solid #ffc107;
}
.list-wrap .list .outputList .items .some .items-title {
  font-size: 16px;
  font-weight: 550;
  padding-bottom: 10px;
}
.list-wrap .list .outputList .items .plenty {
  border: 3px solid #28a745;
}
.list-wrap .list .outputList .items .plenty .items-title {
  font-size: 16px;
  font-weight: 550;
  padding-bottom: 10px;
}
